[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/sfml"]
	path = vendors/sfml
	url = https://github.com/SFML/SFML.git
[submodule "vendors\\raylib"]
	path = vendors\\raylib
	url = https://github.com/raysan5/raylib.git
